html{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Concert One', cursive;
}

header{
  height: 5%;
  width: 60%;
  background-color: aqua;
  text-align: center;
  font-size: 200%;
  margin: 10px auto;
}

.gameBoard {
  height: 810px;
  width: 810px;
  position: relative;
  border: 1px solid green;
  /* float: left; */
  margin: 0 auto;
  display: block;
  background-color: rgb(93, 93, 255);
}

.stats{
  width: 70%;
  height: 40px;
  background-color: chartreuse;
  position: relative;
  /* left:5%;
  bottom: 1px; */
  margin: 10px auto;
  display: block;
  margin: 4px auto;

}

.player1{
  height:34px;
  width: 60px;
  float:left;
  background-color: coral;
  margin: 4px;
}
.player2{
  height: 34px;
  width: 60px;
  float: right;
  background-color: coral;
  margin: 4px;
}

#player1, #player2{
  text-align: center;
  margin:7px;
}

.tile{
  height: 88px;
  width: 88px;
  float: left;
  position: relative;
  margin:1px;


}

.tile > *{
  height: 100%;
  width: 100%;
  position: absolute;
}
.leaf{
  background-color: rgb(33, 180, 33);
  border-radius: 15px;
}
.frog{
  height: 60%;
  width: 60%;
  /* background-color: aquamarine; */
  border-radius: 50%;
  left: 19px;
  top: 19px;
  background-size: 100%;
  /* background-image: url(../images/red.png); */
}

.red {
    background-image: url(../images/red.png);
}

.blue {
    background-image: url(../images/blue.png);
}

.yellow {
    background-image: url(../images/yellow.png);
}

.brown {
    background-image: url(../images/brown.png);
}

.center {
    background-color: goldenrod;
}

.choice {
    /* background-color: greenyellow; */
    animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
    background-color:rgb(14, 206, 55);
  }
  50% {
    background-color: greenyellow;
  }

  100% {
    background-color: rgb(14, 206, 55);

  }
}
.center.choice {
    background-color: rgb(245, 196, 105);
}

/* modal elements */
#modalShadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
}
#modalBody{
  position: fixed;
  left: 50%;
  top: 50%;
  height: 280px;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color: lightgreen;
  border-radius:10%;
  background-image: url(../images/hypnoToad.gif);
  background-position: cover;
  background-repeat: no-repeat;
  /* display: flex; */
}
#modalMessage{
  font-size: 200%;
  color: white;
  position: relative;
  text-align: center;
  top: 50px;
}
#modalButton{
  position: absolute;
  margin: 5px auto;
  bottom: 5px;
  left: 16vmin;
}
