header{
  height: 5%;
  width: 100%;
  background-color: aqua;
  text-align: center;
  font-size: 200%;
}

.gameBoard {
  height: 810px;
  width: 810px;
  position: relative;
  border: 1px solid green;
  float: left;
  margin: 0 auto;
  display: block;
}

.stats{
  width: 90vw;
  height: 40px;
  background-color: chartreuse;
  position: absolute;
  bottom: 10px;

}

.tile{
  height: 88px;
  width: 88px;
  float: left;
  position: relative;
  margin:1px;

}

.tile > *{
  height: 100%;
  width: 100%;
  position: absolute;
}
.leaf{
  background-color: aquamarine;
}
.frog{
  height: 50%;
  width: 50%;
  background-color: yellow;
  border-radius: 50%;
  left: 24px;
  top: 24px;
}
