header{
  height: 5%;
  width: 100%;
  background-color: aqua;
  text-align: center;
  font-size: 200%;
  margin: 10px auto;
}

.gameBoard {
  height: 810px;
  width: 810px;
  position: relative;
  border: 1px solid green;
  /* float: left; */
  margin: 0 auto;
  display: block;
  background-color: rgb(93, 93, 255);
}

.stats{
  width: 70%;
  height: 40px;
  background-color: chartreuse;
  position: relative;
  /* left:5%;
  bottom: 1px; */
  margin: 10px auto;
  display: block;
  margin: 4px auto;

}

.player1{
  height:34px;
  width: 60px;
  float:left;
  background-color: coral;
  margin: 4px;
}
.player2{
  height: 34px;
  width: 60px;
  float: right;
  background-color: coral;
  margin: 4px;
}

#player1, #player2{
  text-align: center;
  margin:10px;
}

.tile{
  height: 88px;
  width: 88px;
  float: left;
  position: relative;
  margin:1px;


}

.tile > *{
  height: 100%;
  width: 100%;
  position: absolute;
}
.leaf{
  background-color: rgb(33, 180, 33);
  border-radius: 15px;
}
.frog{
  height: 60%;
  width: 60%;
  /* background-color: aquamarine; */
  border-radius: 50%;
  left: 19px;
  top: 19px;
  background-size: 100%;
  /* background-image: url(../images/red.png); */
}

.red {
    background-image: url(../images/red.png);
}

.blue {
    background-image: url(../images/blue.png);
}

.yellow {
    background-image: url(../images/yellow.png);
}

.brown {
    background-image: url(../images/brown.png);
}
